
<ion-content [fullscreen]="true" class="fondo verde">
  <div class="contenedor">
    <img src="../../../assets/imagen/gift 1 meme.gif" alt="" srcset="">
      <div class="quienes-somos">
        <h2>¿Quiénes Somos?</h2>
        <p>En <strong>TeLlevoAPP</strong>,somos una plataforma innovadora dedicada a mejorar las opciones de transporte para estudiantes. Nuestra misión es facilitar la organización de viajes compartidos entre aquellos que cuentan con vehículo propio y quienes necesitan transporte. Fomentamos la colaboración y el compañerismo entre los usuarios, ofreciendo una solución segura, económica y sostenible que reduce la huella de carbono y contribuye a un entorno más limpio y eficiente.</p>
      </div>
  </div>
</ion-content>
